data/autosave
data/tramp
data/backups
data/ido
data/sql
data/recentf
data/savehist
data/saveplace
data/semantic
data/ac-comphist.dat
data/persistent-scratch
data/gnus/cache/active
/.org-id-locations
xhtml-loader.rnc
org-clock-save.el
data/desktop/emacs.desktop
data/desktop/lock
data/bm-repository
bookmarks
